.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f2421;
}

.back-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 50px;
    background-color: rgba(251, 251, 251, 0.39);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.724);
}

.back-arrow-icon {
    font-size: 35px;
}

.login-card {
    background-color: #7e6639;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    height: 60%;
}

.login-title {
    margin-left: 40px;
    font-size: 45px;
    margin-bottom: 35px;
    font-family: "Funnel Display", serif;
}

.form {
    display: flex;
    flex-direction: row;
}

.form-input {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-input .form-field {
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 16px;
    box-sizing: border-box;
    width: 90%;
    border-radius: 30px;
    border-color: transparent;
    background-color: #e1e1e1;
    color: black;
    font-size: 18px;
    font-family: "Funnel Display", serif;
}

.form-input .form-field::placeholder {
    font-size: 18px;
    color: #000000;
    font-family: "Funnel Display", serif;
}

.form-field:focus {
    outline: 3px solid #000000;
}

.login-text {
    margin-top: 20px;
    margin-left: 30px;
}

.signup-hyperlink {
    color: #00ffff;
}

.form-right-side {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-right-side .submit-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.form-right-side .submit-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 55px;
    border-radius: 30px;
    border-color: transparent;
    cursor: pointer;
    background-color: #000000;
    transition: all 0.3 ease;
    color: white;
    font-size: 28px;
    font-family: "Funnel Display", serif;
    font-weight: 600;
}

.submit-button:hover {
    background-color: #252525;
}

.form-right-side .alternate-login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.or-text {
    font-weight: 600;
}

.alternate-login-box .google-login-button {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 55px;
    border-radius: 30px;
    border: 3px solid black;
    cursor: pointer;
    background-color: transparent;
}

.google-login-button:hover {
    background-color: #8f7349;
}

.google-img-box {
    margin-right: 30px;
    align-items: center;
    margin-top: 8px;
}

.google-img {
    width: 40px;
    height: auto;
}