.panel-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 25, 28);
    height: 100vh;
}

.header-btns {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.sign-out-btn, .admin-btn {
    display: flex;
    padding: 10px;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-out-btn {
    background-color: rgb(227, 125, 42);
}

.sign-out-btn:hover {
    background-color: rgb(178, 89, 26);
}

.admin-btn {
    background-color: rgb(227, 42, 110);
}

.admin-btn:hover {
    background-color: rgb(180, 25, 62);
}

.panel-page .content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 500px;
    margin-left: 50px;
    margin-right: 25px;
    background-color: rgb(57, 78, 84);
    border-radius: 20px;
}

.panel .status-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(99, 116, 129);
    width: 40%;
    height: 200px;
    border-radius: 15px;
}

.panel .status-box .status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.panel .status-box .status .icon {
    font-size: 40px;
    margin-right: 10px;
}

.panel .status-box .status .online {
    color: rgb(32, 143, 32);
}

.panel .status-box .status .offline {
    color: rgb(143, 32, 32);
}

.panel .status-box .status .error {
    color: rgb(87, 78, 78);
}

.panel .status-box .status .checking {
    color: rgb(245, 234, 19);
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotate-icon {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.panel .status-box .status h2 {
    align-self: center;
    justify-self: center;
    margin-left: 10px;
}

.panel .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

.panel .buttons .start-btn,
.panel .buttons .stop-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.panel .buttons .start-btn {
    background-color: rgb(39, 143, 63);
    margin-right: 30px;
}

.panel .buttons .start-btn:hover {
    background-color: rgb(22, 108, 43);
}

.panel .buttons .stop-btn {
    background-color: rgb(143, 45, 45);
    margin-left: 30px;
}

.panel .buttons .stop-btn:hover {
    background-color: rgb(110, 31, 31);
}

.panel-page .console {
    flex: 1;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 25px;
}